body {
	background-color: beige;
	color: #333;
}

h1 {
	text-align: center;
}

button {
	margin: 0 2.5px;
}

.container {
	display: grid;
	grid-template-rows: auto auto auto;
	row-gap: 10px
}

.row {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}
